<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
<!-- Spring ioc dao impl -->
	<bean id="deptDao" class="com.company.hrm.dao.impl.DeptDaoImpl"></bean>
	<bean id="empDao" class="com.company.hrm.dao.impl.EmpDaoImpl"></bean>
	<bean id="userDao" class="com.company.hrm.dao.impl.UserDaoImpl"></bean>
	<!-- spring ioc service impl -->
	<bean id="deptService" class="com.company.hrm.service.impl.DeptServiceImpl">
		<property name="deptdao" ref="deptDao"></property>
	</bean>
	<bean id="empService" class="com.company.hrm.service.impl.EmpServiceImpl">
		<property name="empdao" ref="empDao"></property>
	</bean>
	<bean id="userService" class="com.company.hrm.service.impl.UserServiceImpl">
		<property name="userdao" ref="userDao"></property>
	</bean>
</beans>
